<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">{{ wiki?.title }}</a> - <span>{{wiki?.description}}</span>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      @if(user)
      <li>
        <details>
          <summary>
            {{ user.username }}
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a href="https://fanpedia-project.com/exit">Log out</a></li>
          </ul>
        </details>
      </li>
      @else
      <li><a
          href="https://fanpedia-project.com/login/?redirect={{Buffer.from(`${request.host()}${request.url(true)}`).toString('base64')}}">Login</a>
      </li>
      @end
    </ul>

  </div>
</div>