@layout('Layouts/main')


@section('body')
<div> Resolving {{revision.id}} so it can merge into {{ main.id }} <span class="underline">(main)</span></div>

<form action="{{ `/revision/${revision.id}/resolve`}}" method="POST">
    <div>

        <div>
            <p>
                <label for="body"> Page body </label>
            </p>
            <textarea name="body" cols="30" rows="10">{{ merge }}</textarea>
        </div>

        <input type="hidden" id="revision" name="revision" value="{{revision.id}}">

        <div>
            <button type="submit">Resolve</button>
        </div>
</form>

@end