@layout('Layouts/main')


@section('body')
<div> Resolving {{revision.id}} so it can merge into {{ main.id }} <span class="underline">(main)</span></div>
<div class="max-w-4xl mx-auto">

    <form action="{{ `/revision/${revision.id}/resolve`}}" method="POST">
        <div>
            <div>
                <div class="label">
                    <span class="label-text">Body</span>
                </div>
                <textarea name="body" x-data
                    x-init="new EasyMDE({ element: $el, spellChecker: false })">{{ merge }}</textarea>
            </div>

            <input type="hidden" id="revision" name="revision" value="{{revision.id}}">

            <div>
                <button class="btn btn-primary" type="submit">Resolve</button>
            </div>
    </form>
</div>

@end