@layout('Layouts/main')


@section('body')

<div class="max-w-4xl mx-auto">
  <form action="{{ " /page" }}" method="POST" class=>
    <div>
      <div class="label">
        <span class="label-text">Title</span>
      </div>
      <input type="text" class="input input-bordered" name="title" />
    </div>
    <div>
      <div class="label">
        <span class="label-text">Slug</span>
      </div>
      <input type="text" class="input input-bordered" name="slug" \ />
    </div>
    <div>
      <div class="label">
        <span class="label-text">Body</span>
      </div>
      <textarea class="textarea textarea-bordered w-full" name="body" rows="10"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Create Page</button>
    </div>
  </form>
</div>
@end