@layout('Layouts/main')


@section('body')
<div>You are making a modification to revision {{revision.id}}</div>
<div>previous editor: {{previousEditor.username}}</div>
<form action="{{ route('page.update', { page: request.params().page  }, { domain: ':wiki.fanpedia-project.com' }) }}"
  method="POST">
  <div>
    <p>
      <label for="title">Page title</label>
    </p>

    <input type="text" value="{{page.title}}" name="title" disabled />
  </div>
  <div>
    <p>
      <label for="slug"> Page slug </label>
    </p>

    <input type="text" name="slug" value="{{page.slug}}" disabled />
  </div>

  <div>
    <p>
      <label for="body"> Page body </label>
    </p>
    <textarea name="body" cols="30" rows="10">{{ revision.body }}</textarea>
  </div>

  <div>
    <p>
      <label for="comment"> Comment </label>
    </p>
    <textarea name="comment" cols="30" rows="10"></textarea>
  </div>

  <input type="hidden" id="revision" name="revision" value="{{revision.id}}">

  <div>
    <button type="submit">Page Wiki</button>
  </div>
</form>
@end