@layout('Layouts/main')

@section('body')
    @each(revision in revisions)
        <li>
            <a href="{{ 
                route(
                    'page.show',
                    { wiki: request.params().wiki, page: request.params().page },
                    { qs: { revision: revision.id } }
                )
            }}">
                {{ revision.id }} * {{ revision.comment }}</a> - <a href="{{route('revision.approve', {revision: revision.id})}}">Approve</a>  | <a href="{{route('revision.reject', {revision: revision.id})}}">Reject</a> 
            
        </li>
    @end
@end