<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Page</title>
  @entryPointScripts('app')
</head>
<body>
    <a href="{{  route('wiki.show', {'wiki': request.params().wiki }) }}">Go back</a>
    <h1>{{title}}</h1>
    <div>{{body}}</div>
</body>

</html>
