@layout('Layouts/main')

@section('body')

<div class="max-w-4xl mx-auto">

    <div class="flex justify-between items-center mb-6 border-b border-indigo-500 pb-2">
        <h2 class="text-3xl font-bold">{{page.title}}</h2>
        <div class="flex space-x-2">
            <a class="btn btn-ghost" href="{{ `/page/${request.params().page}/edit` }}">Edit</a>
            <a class="btn btn-ghost" href="{{ `/page/${request.params().page}/revisions` }}">Revisions</a>
        </div>
    </div>
    <div class="prose-xl">{{{body}}}</div>
</div>

<footer class="footer p-4 bg-base-300 text-base-content">
    <aside>
        <div>
            <div>revision id: {{revision.id}}
                @if(isMainRevision)
                | <b>main</b>
                @end
            </div>
            <div>page created: {{page.date}}</div>
            <div>revision created: {{revision.date}}</div>
        </div>
    </aside>
</footer>



@end