@layout('Layouts/main')

@section('body')
<form action="{{ route('wiki.store', {}, { domain: 'fanpedia-project.com' }) }}" method="POST">
  <div>
    <p>
      <label for="title"> Wiki title </label>
    </p>

    <input type="text" name="title" />
  </div>
  <div>
    <p>
      <label for="slug"> Wiki slug </label>
    </p>

    <input type="text" name="slug" />
  </div>

  <div>
    <p>
      <label for="description"> Wiki Description </label>
    </p>

    <textarea name="description" cols="30" rows="10"></textarea>
  </div>

  <div>
    <button type="submit">Create Wiki</button>
  </div>
</form>
@end