@layout('Layouts/main')

@section('body')
@each(page in pages)
<li>
    <a href="{{ route('page.show', { page: page.slug }, { domain: ':wiki.fanpedia-project.com' }) }}"> {{
        page.title }}</a>
</li>
@end
<a href="{{ route('page.create', {}, { domain: ':wiki.fanpedia-project.com' }) }}">Create new page</a>
@end